<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
        <ion-icon name="grid"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title> Portafolio Servicios </ion-title>
  </ion-toolbar>

  <div class="position-final">
    <ion-button (click)="finalizar()"> Cotizar
      <ion-icon name="bag-handle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-header>
<!--
   <ion-toolbar color="primary">
    <ion-searchbar placeholder="Tipo de Servicio" (ionChange)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
 -->

<!--Ion cards -->
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let producto of this.productos">
      <ion-card style="height:90%;width: 90%;">
        <ion-card-header>
          <ion-card-title class="titulo-card" color="primary">{{producto.nombreServicio}}</ion-card-title>
          <img src="{{producto.direccionRecurso}}" width="100%" height="170%">
        </ion-card-header>
        <ion-card-content>
          <ion-label>{{producto.precioServicio}}</ion-label>
          <p>{{producto.descripcionServicio}}</p>
        </ion-card-content>

          <ion-button (click)="addProduct(producto)" expand="block" color="danger" fill="clear">
            <ion-icon slot="start" name="add-circle-outline" color="primary"></ion-icon>
          </ion-button>


      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
